.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

}

.project_item  {
    transition: 0.4s !important;
}

.project_item > img {
    width: 750px;
    border-radius: 12px;
}

.project_item:hover {
    filter: saturate(1.25);
    filter: brightness(1.15);
}
