.skills {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(70px, auto);
    
}

.box {
    background-color: var(--secondary);
    border-radius: 8px;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-level {
    width: 12px;
    height: 12px;
    background-color: rgb(62, 226, 21);
    margin-right: 5px;
    border-radius: 5px;
}

.novice {
    background-color: rgb(226, 144, 21);
}

.explanations {
    margin-top: 20px;
}

.explanations > *{
    display: inline-block;
    margin-left: 5px;
}

.box:hover {
    filter: brightness(1.3);
}