.skills {
    display: grid;
    gap: 15px;
    grid-template-areas: 
    "1 2 3"
    "4 5 6"
    "7 8 9"
    ;
}

.box {
    background-color: var(--secondary);
    border-radius: 7px;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .box::before {
    content: ' ';
    width: 12px;
    height: 12px;
    margin-right: 5px;
    background-color: rgb(62, 226, 21);
    display: inline-block;
    border-radius: 5px;
}

.orange::before {
    background-color: rgb(226, 144, 21);
} */

.skill-level {
    width: 12px;
    height: 12px;
    background-color: rgb(62, 226, 21);
    margin-right: 5px;
    border-radius: 5px;
}

.novice {
    background-color: rgb(226, 144, 21);
}

.explanations {
    margin-top: 20px;
}

.explanations > *{
    display: inline-block;
    margin-left: 5px;
}

.box:hover {
    filter: brightness(1.3);
}