@media only screen and (min-width: 0px) and (max-width: 499px) {
    section {
        padding: 10px;
    }
    nav {
        width: 100%;
    }
    .nav {
        width: 300px !important;
    }
}

@media only screen and (min-width: 0px) and (max-width: 799px) {
    .skills {
        grid-template-columns: repeat(2, 1fr) !important;
    }
    .grid-item9 {
        grid-column: span 2;
    }
    .projects {
        grid-template-columns: 1fr !important;
    }
    .project_item > img {
        width: 100% !important;
    }
    .section_content {
        text-align: center;
    }
    .arrow {
        bottom: 150px;
        position: relative;
    }
    .footer {
        margin-top: 100px !important;
    }
}

@media only screen and (min-width: 800px) and (max-width: 1799px) {
    .project_item > img {
        width: 100% !important;
    }
}

@media only screen and (min-width: 2999px) {
    .projects {
        grid-template-columns: repeat(3, 1fr) !important;
    }
    .projects img {
        width: 100% !important;
    }
    .skills {
        grid-auto-rows: minmax(120px, auto) !important;
        font-size: 20px;
    }
    h1 {
        font-size: 36px !important;
    }
    div > * {
        font-size: 20px;
    }
}

